name: Release

on:
  push:
    branches: ["ebpf-tests"]

jobs:
  auto-release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true

  container-main:
    uses: metal-toolbox/container-push/.github/workflows/container-push.yml@main
    with:
      name: audito-maldito
      tag: ${{ github.ref_name }}
      registry_org: ${{ github.repository }}
      dockerfile_path: Dockerfile
      platforms: linux/amd64,linux/arm64
